@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  overflow-x: hidden;
  /* background-color: var(--blue-azure); */
}

:root {
  --blue-strong:#184059;
  --blue-active:#51608C;
  --blue-relative:#8697A6;
  --blue-gray:#BFCDD9;
  --blue-azure:#F0FFFF;
  --brown-strong:#8C2F1B;
  --brown-relative:#BF8756;
  --brown-active:#8C4F2B;
  --black-active:#000000;
  --white-active:#F5FFFA;
  --grey-soft:#D7D7D9;
  --red-strong: #B80F0A;
  --red-relative: #c43d38;
}
